doctype 5
html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="author", content="Qiming Zhao")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/build/build.css")
    link(href="/atom", rel="alternate", type="application/atom+xml")
    //if lte IE 9
      script(type="text-javascript", src="build/ie.min.js")
  body
    //if lte IE 7
      script(type="text/javascript", src="http://letskillie6.googlecode.com/svn/trunk/2/zh_CN.js")
    #header
      .nav.clearfix
        ul.clearfix.left
          li: a(href="/") 主页
          li: a(href="/archive") 存档
          li: a(href="/about") 关于
          li.admin.hidden: a(href="/admin") 管理
        .social.btn-group.right
          a.weibo(href="http://weibo.com/chemzqm") weibo
          a.github(href="https://github.com/chemzqm") github
          a.rss(href="/atom") RSS
    div

    script(type="text/javascript")
      var path = window.location.pathname;
      var navs = document.querySelectorAll('#header ul a');
      for(var i = 0; i < navs.length; i++){
        if(path === navs[i].getAttribute('href')){
          navs[i].className = 'active';
        }
      }
      if(/(^|(;\s*))name/.test(document.cookie)){
        document.querySelector('#header li.admin').style.display = 'block';
      }

    block content

    block footer
      #main-footer
        .container
          p Powered by 
            a(href="http://expressjs.com/") Express
            |, theme inspired by 
            a(href="https://github.com/willerce/noderce") Noderce
          P Source code is available at  
            a(href="https://github.com/chemzqm/blog") github
      #backtop
      script(type="text/javascript", src="/js/lib/jquery-2.0.0.min.js")
      script(type="text/javascript")
        var footer = $('#main-footer');
        if(footer.offset().top < $(window).height()){
          footer.addClass('fixed');
        }
      script(type="text/javascript")
        $(function(){
          $("#backtop").hide(); 
          $(window).scroll(function () { 
            if ($(this).scrollTop() > 100) { 
              $('#backtop').fadeIn(); 
            } else { 
              $('#backtop').fadeOut(); 
            } 
          }); 
          $('#backtop').click(function () { 
            $('body,html').animate({ 
              scrollTop: 0 
            }, 500); 
          }); 
        }); 
    

