extends ../views/layout

block content
  .container
    div.btn-group
      a.btn.btn-primary(href="/post") 
        span.icon.fui-plus-16
        |  新建
        

    div#admin-list
      ul.listview
        each p in posts
          li
            a(href="/post/edit/#{p.id}") #{p.title}
            .btn-group
              a.btn.btn-danger(href="/post/remove/#{p.id}") 删除

