extends ../views/layout

block content
  #title
    h1 启明的博客
    p 关于互联网技术、管理、产品

  .container
    ul.listview
      each p in posts
        li 
          a.title(href="/view/post/#{p.id}") #{p.title} 
          span.date #{moment(p.create).format("YY年MM月DD日")}
