@import 'nib'

//colors
$seaGreen = #16A085
$lightSeaGreen = #1ABC9C
$green = #27AE60
$lightGreen = #2ecc71
$blue = #2980B9
$lightBlue = #3498DB
$purple = #8E44AD
$lightPurple = #9B59B6
$black = #2C3E50
$lightBlack = #34495E
$yellow = #F39C12
$lightYellow = #F1C40F
$orange = #D35400
$lightOrange = #E67E22
$red = #C0392B
$lightRed = #e74c3c
$silver = #BDC3C7
$lightSilver = #ECF0F1
$gray = #7F8C8D
$lightGray = #95A5A6

$maxWidth = 700px
::-moz-selection
  background: #b3d4fc
  text-shadow: none

::selection
  background: #b3d4fc
  text-shadow: none
/*
 * Image replacement
 */

.ir
  background-color: transparent
  border: 0
  overflow: hidden
  /* IE 6/7 fallback */
  *text-indent: -9999px

.ir:before 
  content: ""
  display: block
  width: 0
  height: 150%


hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

img
  vertical-align: middle

fieldset
  border: 0
  margin: 0
  padding: 0



body
  font: Arial,/*'Microsoft YaHei',*/Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif
  font-size: 14px
  color: $black

a, a:hover, a:focus
  color: $lightSeaGreen

pre, code, tt
  font-size: 12px
  font-family: Consolas, "Liberation Mono", Courier, monospace

//common
.clearfix
  clearfix()

.hidden
  display: none

.right
  float: right

.left
  float: left

.success
  border-radius: 6px
  color: #fff
  background-color: $lightGreen
  padding: 8px 0 9px 10px
  margin-bottom: 10px

.ghost
  position: relative
  opacity:1
  height:0
  > div
    position: absolute
    transition: 0.3s ease-in-out
    width: 100%
    left: 0
    top: 0
    z-index: 999
    &.hide
      opacity:0
      top: -20px


.container
  max-width: $maxWidth - 20
  margin:0 auto
  padding-left: 20px

section
  border-radius: 5px
  background-color:  $lightSilver

#title
  text-align: center
  p
    color: $gray

#header
  font-size: 1.3em
  width: 100%
  top: 0
  left: 0
  background-color: $black
  .nav
    max-width: $maxWidth
    margin: 0 auto
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        float: left
        margin: 0
        padding: 0
        a
          display:block
          padding: 10px 20px
          color: #fff
          text-decoration: none
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
          &:hover,&.active
            color:$seaGreen

ul.listview
  padding: 0px
  li:nth-child(odd)
    background-color: #f9f9f9
  li
    line-height: 2.8
    list-style: none
    position: relative
    .tag
      border-radius: 5px
      background-color: $lightYellow
      padding: 5px 10px
      color: #fff
    & > a
      color: $black
      text-decoration: none
      cursor: pointer
      display:inline-block
      padding-right: 10px
      &:hover
        color: lighten($black, 20)
    .btn-group, & .date
      position:absolute
      margin: 0
      right: 10px
      top: 0
    .date
      color: $silver

#admin-list
  li
    border-top:1px solid #dddddd


//headers
h1
  font-size: 32px
  margin: 10px 0
h2
  font-size: 26px
  font-weight: 700
  margin-bottom: 2px

h3
  font-size: 24px
  font-weight: 700
  margin-bottom: 4px
  margin-top: 2px

h4
  font-size: 18px
  font-weight: 500
  margin-top: 4px

h1, h2, h3
  line-height: 40px

.control-group
  margin: 1em 0

//button
.btn
  display:inline-block
  border: none
  color: #fff
  font-size: 16.5px
  transition: 0.25s
  border-radius: 6px
  height: 2em
  line-height: 2em
  padding: 0 1em

.btn-block
  background-color: $black
  &:hover
    background-color: $lightBlack

.btn-primary
  background-color: $seaGreen
  &:hover
    background-color: $lightSeaGreen

.btn-danger
  background-color: $red
  &:hover
    background-color: $lightRed

.btn-warning
  background-color: $yellow
  &:hover
    background-color: $lightYellow

.btn-info
  background-color: $blue
  &:hover
    background-color: $lightBlue

a.btn
  text-decoration: none
  font-size: 1em
  &:hover
    color:#fff
  .icon
    margin-right:10px

.btn-group
  margin: 10px 0
  .btn + .btn
    margin-left: 10px

//form
input[type="text"]:focus, input[type="password"]:focus
  border-color: $seaGreen

input[type="text"], input[type="password"], input[type="textarea"]
  box-shadow: none
  outline: 0
  border: 2px solid $lightSilver
  color: $black
  border-radius: 6px



#login_form
  max-width:360px
  margin:40px auto
  & input:focus + .login-field-icon
    color:$seaGreen
  .control-group
    position:relative
  input[type="text"], & input[type="password"]
    font-size: 17px
    padding-bottom: 11px
    padding-top: 11px
    text-indent: 6px
    width:100%
  .login-field-icon
    color: $silver
    position: absolute
    right: 13px
    top: 14px
    transition: 0.25s
    backface-visibility: hidden
  .btn
    width:100%

#form
  border-radius: 6px
  padding: 24px 23px 20px
  position: relative
  background-color: $lightSilver

//editor
.editor-wrapper
  margin: 10px 0

#preview
  position: absolute
  background-color: #fff
  min-height: 450px
  z-index: 999
  display: none
  left: 0
  top: 0
  width: 100%
  .content
    box-shadow: 0 0 10px #ddd
    margin: 3px
    border: 1px solid #cacaca
    padding: 3px
    max-height: 450px
    overflow: auto
  .close
    position: absolute
    top: 15px
    right: 25px
    cursor: pointer
    transition: 0.25s
    &:hover
      transform: rotate(90deg)

.markdown
  line-height: 1.6

.markdown code
  white-space: nowrap
  margin: 0 2px
  padding: 0px 5px
  border: 1px solid #eaeaea
  background-color: #f8f8f8
  border-radius: 3px

//ui-toggle
div.dk_container
  display: inline-block
  zoom: 1
  position: relative
  cursor: pointer
  outline: none
  margin-right: 10px
  &.dk_open
    > a.dk_toggle
      background-color: $lightSeaGreen
      .select-icon
        background-color: $seaGreen
        border-left-color: transparent
    .dk_options
      opacity: 1
      margin-top: 11px
  > a.dk_toggle
    display: block
    position: relative
    background-color: $lightSeaGreen
    color: #fff
    border-radius: 6px
    overflow: hidden
    padding: 0 2em
    line-height: 2em
    text-decoration: none
    white-space: nowrap
    transition: 0.25s
    backface-visibility: hidden
    &:hover
      background-color: lighten($lightSeaGreen, 5)
      color: #fff
    .dk_label
      margin-right: 44px
    .select-icon
      background: $lightSeaGreen url("../images/toggle.png") no-repeat right center
      border-left: 2px solid rgba(52, 73, 94, 0.15)
      border-radius: 0 6px 6px 0
      height: 100%
      position: absolute
      right: 0
      top: 0
      width: 42px
      transition: 0.25s
      backface-visibility: hidden
  .dk_options
    margin-top: 0px
    top: 27px
    position: absolute
    left: 0
    opacity: 0
    width: 100%
    z-index: 10
    display: none	9
    transition: 0.3s ease-out
    backface-visibility: hidden
    &:before
      left:auto
      right:12px
      content: ""
      border-style: solid
      border-width: 0 9px 9px 9px
      border-color: transparent transparent #34495e transparent
      height: 0px
      position: absolute
      top: -9px
      width: 0px
      -webkit-transform: rotate(360deg)
    .dk_options_inner
      overflow: auto
      outline: none
      position: relative
      background-color: $black
      border-radius: 5px
      margin: 0
      padding: 3px 3px 0
      li
        margin-bottom: 3px
        line-height: 2em
        a
          padding:0 2em
          display: block
          border-radius: 3px
          text-indent: -4px
          color: white
          text-decoration: none
          &:hover
            background-color: $lightSeaGreen
        &.dk_option_current
          a
            background-color: $lightSeaGreen




