
/* line 1 : /home/jack/modules/stylus/lib/functions/index.styl */

/* line 14 : /home/jack/modules/nib/lib/nib/index.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/border.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/clearfix.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/color-image.styl */

/* line 6 : /home/jack/modules/nib/lib/nib/flex.styl */

/* line 154 : /home/jack/modules/nib/lib/nib/gradients.styl */

/* line 154 : /home/jack/modules/nib/lib/nib/config.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/iconic.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/image.styl */

/* line 15 : /home/jack/modules/nib/lib/nib/overflow.styl */

/* line 3 : /home/jack/modules/nib/lib/nib/positions.styl */

/* line 3 : /home/jack/modules/nib/lib/nib/reset.styl */

/* line 5 : /home/jack/modules/nib/lib/nib/text/index.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /home/jack/modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /home/jack/modules/nib/lib/nib/text/replace-text.styl */

/* line 557 : /home/jack/modules/nib/lib/nib/vendor.styl */

/* line 557 : /home/jack/modules/nib/lib/nib/config.styl */

/* line 12 : /home/jack/modules/nib/lib/nib/size.styl */

/* line 27 : /home/jack/work/blog/public/styles/style.styl */
body {
  font: Arial,;
/*'Microsoft YaHei',*/
  Verdana: , "BitStream vera Sans", Tahoma, Helvetica, Sans-serif;
  font-size: 14px;
  color: #2c3e50;
}

/* line 32 : /home/jack/work/blog/public/styles/style.styl */
a,
a:hover,
a:focus {
  color: #1abc9c;
}

/* line 35 : /home/jack/work/blog/public/styles/style.styl */
pre,
code,
tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

/* line 40 : /home/jack/work/blog/public/styles/style.styl */
.clearfix {
  zoom: 1;
}

/* line 23 : /home/jack/modules/nib/lib/nib/clearfix.styl */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 27 : /home/jack/modules/nib/lib/nib/clearfix.styl */
.clearfix:after {
  clear: both;
}

/* line 43 : /home/jack/work/blog/public/styles/style.styl */
.hidden {
  display: none;
}

/* line 46 : /home/jack/work/blog/public/styles/style.styl */
.right {
  float: right;
}

/* line 49 : /home/jack/work/blog/public/styles/style.styl */
.left {
  float: left;
}

/* line 52 : /home/jack/work/blog/public/styles/style.styl */
.success {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  background-color: #2ecc71;
  padding: 8px 0 9px 10px;
  margin-bottom: 10px;
}

/* line 59 : /home/jack/work/blog/public/styles/style.styl */
.ghost {
  position: relative;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: 0;
}

/* line 63 : /home/jack/work/blog/public/styles/style.styl */
.ghost > div {
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

/* line 70 : /home/jack/work/blog/public/styles/style.styl */
.ghost > div.hide {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  top: -20px;
}

/* line 75 : /home/jack/work/blog/public/styles/style.styl */
.container {
  max-width: 680px;
  margin: 0 auto;
  padding-left: 20px;
}

/* line 80 : /home/jack/work/blog/public/styles/style.styl */
section {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ecf0f1;
}

/* line 84 : /home/jack/work/blog/public/styles/style.styl */
#title {
  text-align: center;
}

/* line 86 : /home/jack/work/blog/public/styles/style.styl */
#title p {
  color: #7f8c8d;
}

/* line 89 : /home/jack/work/blog/public/styles/style.styl */
#header {
  font-size: 1.3em;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2c3e50;
}

/* line 95 : /home/jack/work/blog/public/styles/style.styl */
#header .nav {
  max-width: 700px;
  margin: 0 auto;
}

/* line 98 : /home/jack/work/blog/public/styles/style.styl */
#header .nav ul {
  margin: 0;
  padding: 0;
}

/* line 101 : /home/jack/work/blog/public/styles/style.styl */
#header .nav ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

/* line 106 : /home/jack/work/blog/public/styles/style.styl */
#header .nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

/* line 112 : /home/jack/work/blog/public/styles/style.styl */
#header .nav ul li a:hover,
#header .nav ul li a.active {
  color: #16a085;
}

/* line 115 : /home/jack/work/blog/public/styles/style.styl */
ul.listview {
  padding: 0px;
}

/* line 117 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li:nth-child(odd) {
  background-color: #f9f9f9;
}

/* line 119 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li {
  line-height: 2.8;
  list-style: none;
  position: relative;
}

/* line 123 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li .tag {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f1c40f;
  padding: 5px 10px;
  color: #fff;
}

/* line 128 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li > a {
  color: #2c3e50;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding-right: 10px;
}

/* line 134 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li > a:hover {
  color: #507192;
}

/* line 136 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li .btn-group,
ul.listview li .date {
  position: absolute;
  margin: 0;
  right: 10px;
  top: 0;
}

/* line 141 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li .date {
  color: #bdc3c7;
}

/* line 144 : /home/jack/work/blog/public/styles/style.styl */

/* line 145 : /home/jack/work/blog/public/styles/style.styl */
#admin-list li {
  border-top: 1px solid #ddd;
}

/* line 150 : /home/jack/work/blog/public/styles/style.styl */
h1 {
  font-size: 32px;
  margin: 10px 0;
}

/* line 153 : /home/jack/work/blog/public/styles/style.styl */
h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px;
}

/* line 158 : /home/jack/work/blog/public/styles/style.styl */
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}

/* line 164 : /home/jack/work/blog/public/styles/style.styl */
h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}

/* line 169 : /home/jack/work/blog/public/styles/style.styl */
h1,
h2,
h3 {
  line-height: 40px;
}

/* line 172 : /home/jack/work/blog/public/styles/style.styl */
.control-group {
  margin: 1em 0;
}

/* line 176 : /home/jack/work/blog/public/styles/style.styl */
.btn {
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 16.5px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
}

/* line 187 : /home/jack/work/blog/public/styles/style.styl */
.btn-block {
  background-color: #2c3e50;
}

/* line 189 : /home/jack/work/blog/public/styles/style.styl */
.btn-block:hover {
  background-color: #34495e;
}

/* line 192 : /home/jack/work/blog/public/styles/style.styl */
.btn-primary {
  background-color: #16a085;
}

/* line 194 : /home/jack/work/blog/public/styles/style.styl */
.btn-primary:hover {
  background-color: #1abc9c;
}

/* line 197 : /home/jack/work/blog/public/styles/style.styl */
.btn-danger {
  background-color: #c0392b;
}

/* line 199 : /home/jack/work/blog/public/styles/style.styl */
.btn-danger:hover {
  background-color: #e74c3c;
}

/* line 202 : /home/jack/work/blog/public/styles/style.styl */
.btn-warning {
  background-color: #f39c12;
}

/* line 204 : /home/jack/work/blog/public/styles/style.styl */
.btn-warning:hover {
  background-color: #f1c40f;
}

/* line 207 : /home/jack/work/blog/public/styles/style.styl */
.btn-info {
  background-color: #2980b9;
}

/* line 209 : /home/jack/work/blog/public/styles/style.styl */
.btn-info:hover {
  background-color: #3498db;
}

/* line 212 : /home/jack/work/blog/public/styles/style.styl */
a.btn {
  text-decoration: none;
  font-size: 1em;
}

/* line 215 : /home/jack/work/blog/public/styles/style.styl */
a.btn:hover {
  color: #fff;
}

/* line 217 : /home/jack/work/blog/public/styles/style.styl */
a.btn .icon {
  margin-right: 10px;
}

/* line 220 : /home/jack/work/blog/public/styles/style.styl */
.btn-group {
  margin: 10px 0;
}

/* line 222 : /home/jack/work/blog/public/styles/style.styl */
.btn-group .btn + .btn {
  margin-left: 10px;
}

/* line 226 : /home/jack/work/blog/public/styles/style.styl */
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #16a085;
}

/* line 229 : /home/jack/work/blog/public/styles/style.styl */
input[type="text"],
input[type="password"],
input[type="textarea"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  border: 2px solid #ecf0f1;
  color: #2c3e50;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 238 : /home/jack/work/blog/public/styles/style.styl */
#login_form {
  max-width: 360px;
  margin: 40px auto;
}

/* line 241 : /home/jack/work/blog/public/styles/style.styl */
#login_form input:focus + .login-field-icon {
  color: #16a085;
}

/* line 243 : /home/jack/work/blog/public/styles/style.styl */
#login_form .control-group {
  position: relative;
}

/* line 245 : /home/jack/work/blog/public/styles/style.styl */
#login_form input[type="text"],
#login_form input[type="password"] {
  font-size: 17px;
  padding-bottom: 11px;
  padding-top: 11px;
  text-indent: 6px;
  width: 100%;
}

/* line 251 : /home/jack/work/blog/public/styles/style.styl */
#login_form .login-field-icon {
  color: #bdc3c7;
  position: absolute;
  right: 13px;
  top: 14px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 258 : /home/jack/work/blog/public/styles/style.styl */
#login_form .btn {
  width: 100%;
}

/* line 261 : /home/jack/work/blog/public/styles/style.styl */
#form {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 24px 23px 20px;
  position: relative;
  background-color: #ecf0f1;
}

/* line 268 : /home/jack/work/blog/public/styles/style.styl */
.editor-wrapper {
  margin: 10px 0;
}

/* line 271 : /home/jack/work/blog/public/styles/style.styl */
#preview {
  position: absolute;
  background-color: #fff;
  min-height: 450px;
  z-index: 999;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 280 : /home/jack/work/blog/public/styles/style.styl */
#preview .content {
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  margin: 3px;
  border: 1px solid #cacaca;
  padding: 3px;
  max-height: 450px;
  overflow: auto;
}

/* line 287 : /home/jack/work/blog/public/styles/style.styl */
#preview .close {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}

/* line 293 : /home/jack/work/blog/public/styles/style.styl */
#preview .close:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 296 : /home/jack/work/blog/public/styles/style.styl */
.markdown {
  line-height: 1.6;
}

/* line 299 : /home/jack/work/blog/public/styles/style.styl */
.markdown code {
  white-space: nowrap;
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 308 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container {
  display: inline-block;
  zoom: 1;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

/* line 315 : /home/jack/work/blog/public/styles/style.styl */

/* line 316 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container.dk_open > a.dk_toggle {
  background-color: #1abc9c;
}

/* line 318 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container.dk_open > a.dk_toggle .select-icon {
  background-color: #16a085;
  border-left-color: transparent;
}

/* line 321 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container.dk_open .dk_options {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin-top: 11px;
}

/* line 324 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle {
  display: block;
  position: relative;
  background-color: #1abc9c;
  color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  padding: 0 2em;
  line-height: 2em;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 337 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle:hover {
  background-color: #1dd2af;
  color: #fff;
}

/* line 340 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle .dk_label {
  margin-right: 44px;
}

/* line 342 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle .select-icon {
  background: #1abc9c url("../images/toggle.png") no-repeat right center;
  border-left: 2px solid rgba(52,73,94,0.15);
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 353 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options {
  margin-top: 0px;
  top: 27px;
  position: absolute;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 100%;
  z-index: 10;
  display: none 9;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 364 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options:before {
  left: auto;
  right: 12px;
  content: "";
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #34495e transparent;
  height: 0px;
  position: absolute;
  top: -9px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}

/* line 376 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner {
  overflow: auto;
  outline: none;
  position: relative;
  background-color: #2c3e50;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 3px 3px 0;
}

/* line 384 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li {
  margin-bottom: 3px;
  line-height: 2em;
}

/* line 387 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li a {
  padding: 0 2em;
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-indent: -4px;
  color: #fff;
  text-decoration: none;
}

/* line 394 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li a:hover {
  background-color: #1abc9c;
}

/* line 396 : /home/jack/work/blog/public/styles/style.styl */

/* line 397 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li.dk_option_current a {
  background-color: #1abc9c;
}
