
/* line 1 : /usr/local/share/npm/lib/node_modules/stylus/lib/functions/index.styl */

/* line 13 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/flex.styl */

/* line 154 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/gradients.styl */

/* line 154 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/image.styl */

/* line 15 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 557 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/vendor.styl */

/* line 557 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/config.styl */

/* line 26 : /Users/chemzqm/work/blog/public/styles/style.styl */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 30 : /Users/chemzqm/work/blog/public/styles/style.styl */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 33 : /Users/chemzqm/work/blog/public/styles/style.styl */
/*
 * Image replacement
 */

/* line 37 : /Users/chemzqm/work/blog/public/styles/style.styl */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
/* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 44 : /Users/chemzqm/work/blog/public/styles/style.styl */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 51 : /Users/chemzqm/work/blog/public/styles/style.styl */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 59 : /Users/chemzqm/work/blog/public/styles/style.styl */
img {
  vertical-align: middle;
  border: 0;
}

/* line 63 : /Users/chemzqm/work/blog/public/styles/style.styl */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 70 : /Users/chemzqm/work/blog/public/styles/style.styl */
body {
  font: Arial,;
/*'Microsoft YaHei',*/
  Verdana: , "BitStream vera Sans", Tahoma, Helvetica, Sans-serif;
  font-size: 14px;
  color: #353535;
}

/* line 75 : /Users/chemzqm/work/blog/public/styles/style.styl */
a {
  color: #2c3e50;
  text-decoration: none;
  cursor: pointer;
}

/* line 80 : /Users/chemzqm/work/blog/public/styles/style.styl */
a:hover,
a:focus {
  text-decoration: underline;
}

/* line 83 : /Users/chemzqm/work/blog/public/styles/style.styl */
pre,
code,
tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

/* line 88 : /Users/chemzqm/work/blog/public/styles/style.styl */
.clearfix {
  zoom: 1;
}

/* line 23 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/clearfix.styl */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 27 : /Users/chemzqm/work/blog/node_modules/nib/lib/nib/clearfix.styl */
.clearfix:after {
  clear: both;
}

/* line 91 : /Users/chemzqm/work/blog/public/styles/style.styl */
.hidden {
  display: none;
}

/* line 94 : /Users/chemzqm/work/blog/public/styles/style.styl */
.right {
  float: right;
}

/* line 97 : /Users/chemzqm/work/blog/public/styles/style.styl */
.left {
  float: left;
}

/* line 100 : /Users/chemzqm/work/blog/public/styles/style.styl */
.success {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  background-color: #2ecc71;
  padding: 8px 0 9px 10px;
  margin-bottom: 10px;
}

/* line 107 : /Users/chemzqm/work/blog/public/styles/style.styl */
.ghost {
  position: relative;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: 0;
}

/* line 111 : /Users/chemzqm/work/blog/public/styles/style.styl */
.ghost > div {
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

/* line 118 : /Users/chemzqm/work/blog/public/styles/style.styl */
.ghost > div.hide {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  top: -20px;
}

/* line 122 : /Users/chemzqm/work/blog/public/styles/style.styl */
.block {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #fcfcfa;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* line 129 : /Users/chemzqm/work/blog/public/styles/style.styl */
.container {
  max-width: 820px;
  margin: 0 auto;
}

/* line 133 : /Users/chemzqm/work/blog/public/styles/style.styl */
section {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ecf0f1;
}

/* line 137 : /Users/chemzqm/work/blog/public/styles/style.styl */
#title {
  text-align: center;
}

/* line 139 : /Users/chemzqm/work/blog/public/styles/style.styl */
#title p {
  color: #7b838a;
}

/* line 142 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header {
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 0 4px #eee;
  box-shadow: 0 0 4px #eee;
  position: fixed;
  font-size: 1.3em;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #2c3e50;
}

/* line 143 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header + div {
  margin-top: 60px;
  height: 0px;
  font-size: 0px;
}

/* line 156 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .nav {
  max-width: 820px;
  margin: 0 auto;
}

/* line 159 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .nav ul {
  margin: 0;
  padding: 0;
}

/* line 162 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .nav ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

/* line 167 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

/* line 172 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .nav ul li a:hover {
  text-decoration: underline;
}

/* line 174 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .nav ul li a.active {
  font-weight: bold;
}

/* line 177 : /Users/chemzqm/work/blog/public/styles/style.styl */

/* line 178 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .social {
  margin: 5px 0;
}

/* line 180 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .social a {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *text-indent: -9999px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 15px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  width: 28px;
  height: 28px;
  -webkit-transition: 0.3s;
}

/* line 194 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .social a.rss {
  background: url("../images/social/rss.png") center no-repeat transparent;
}

/* line 196 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .social a.github {
  background: url("../images/social/github.png") center no-repeat transparent;
}

/* line 198 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .social a.weibo {
  background: url("../images/social/weibo.png") center no-repeat transparent;
}

/* line 200 : /Users/chemzqm/work/blog/public/styles/style.styl */
#header .social a:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 203 : /Users/chemzqm/work/blog/public/styles/style.styl */
#footer {
  text-align: center;
}

/* line 205 : /Users/chemzqm/work/blog/public/styles/style.styl */
#footer a {
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 210 : /Users/chemzqm/work/blog/public/styles/style.styl */
#main-footer {
  clear: both;
  margin-top: 20px;
  padding: 10px 0;
  background: url("../images/footersub.png") repeat-x center top #dcdcdc;
}

/* line 215 : /Users/chemzqm/work/blog/public/styles/style.styl */
#main-footer p {
  color: #818181;
  margin: 5px 0;
}

/* line 218 : /Users/chemzqm/work/blog/public/styles/style.styl */
#main-footer.fixed {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* line 224 : /Users/chemzqm/work/blog/public/styles/style.styl */
#backtop {
  position: fixed;
  display: none;
  right: 55px;
  bottom: 80px;
  width: 36px;
  height: 36px;
  background: url("../images/backtop.gif") no-repeat;
  cursor: pointer;
}

/* line 234 : /Users/chemzqm/work/blog/public/styles/style.styl */

/* line 235 : /Users/chemzqm/work/blog/public/styles/style.styl */
#archive .year {
  color: #666;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 4px 0;
  border-bottom: 1px dashed #ccc;
}

/* line 241 : /Users/chemzqm/work/blog/public/styles/style.styl */
#archive .p {
  display: list-item;
  margin-left: 20px;
  line-height: 1.9;
}

/* line 245 : /Users/chemzqm/work/blog/public/styles/style.styl */
#archive .p time {
  margin-right: 8px;
  color: #666;
  font-size: 13px;
}

/* line 250 : /Users/chemzqm/work/blog/public/styles/style.styl */
.post {
  margin-bottom: 20px;
  padding: 30px;
}

/* line 253 : /Users/chemzqm/work/blog/public/styles/style.styl */
.post .title {
  margin: 10px 0px;
  color: #2c3e50;
  line-height: 1em;
  font-weight: bold;
  font-family: Pmingliu, Mingliu;
}

/* line 259 : /Users/chemzqm/work/blog/public/styles/style.styl */
.post .meta {
  margin-bottom: 15px;
  color: #777;
  font-size: 10px;
}

/* line 264 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.listview {
  padding: 0px;
  min-height: 40px;
}

/* line 267 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.listview li:nth-child(odd) {
  background-color: #f9f9f9;
}

/* line 269 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.listview li {
  line-height: 2.8;
  list-style: none;
  position: relative;
}

/* line 273 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.listview li .tag {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f1c40f;
  padding: 5px 10px;
  color: #fff;
}

/* line 278 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.listview li > a {
  color: #353535;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding-right: 10px;
}

/* line 284 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.listview li > a:hover {
  color: #259dff;
}

/* line 286 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.listview li .btn-group,
ul.listview li .date {
  position: absolute;
  margin: 0;
  right: 10px;
  top: 0;
}

/* line 291 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.listview li .date {
  color: #bdc3c7;
}

/* line 294 : /Users/chemzqm/work/blog/public/styles/style.styl */
#post_list {
  padding-left: 20px;
}

/* line 297 : /Users/chemzqm/work/blog/public/styles/style.styl */

/* line 298 : /Users/chemzqm/work/blog/public/styles/style.styl */
#admin-list li {
  border-top: 1px solid #ddd;
}

/* line 302 : /Users/chemzqm/work/blog/public/styles/style.styl */
h1 {
  font-size: 32px;
  margin: 10px 0;
}

/* line 305 : /Users/chemzqm/work/blog/public/styles/style.styl */
h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px;
}

/* line 310 : /Users/chemzqm/work/blog/public/styles/style.styl */
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}

/* line 316 : /Users/chemzqm/work/blog/public/styles/style.styl */
h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}

/* line 321 : /Users/chemzqm/work/blog/public/styles/style.styl */
h1,
h2,
h3 {
  line-height: 40px;
}

/* line 324 : /Users/chemzqm/work/blog/public/styles/style.styl */
.control-group {
  margin: 1em 0;
}

/* line 328 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn {
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 16.5px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
}

/* line 339 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-block {
  background-color: #353535;
}

/* line 341 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-block:hover {
  background-color: #7b838a;
}

/* line 344 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-primary {
  background-color: #16a085;
}

/* line 346 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-primary:hover {
  background-color: #1abc9c;
}

/* line 349 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-danger {
  background-color: #c0392b;
}

/* line 351 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-danger:hover {
  background-color: #e74c3c;
}

/* line 354 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-warning {
  background-color: #f39c12;
}

/* line 356 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-warning:hover {
  background-color: #f1c40f;
}

/* line 359 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-info {
  background-color: #259dff;
}

/* line 361 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-info:hover {
  background-color: #3498db;
}

/* line 364 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn.primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8add6d), color-stop(1, #60b044));
  background-image: -webkit-linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-image: -moz-linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-image: -o-linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-image: -ms-linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-image: linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-repeat: repeat-x;
  border: 1px solid #5ca941;
}

/* line 371 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn.primary:hover {
  border-color: #4a993e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #79d858), color-stop(1, #569e3d));
  background-image: -webkit-linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-image: -moz-linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-image: -o-linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-image: -ms-linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-image: linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-color: #569e3d;
}

/* line 375 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn.primary:active {
  background-color: #569e3d;
  background-image: none;
  border-color: #418737;
}

/* line 380 : /Users/chemzqm/work/blog/public/styles/style.styl */
a.btn {
  text-decoration: none;
  font-size: 1em;
}

/* line 383 : /Users/chemzqm/work/blog/public/styles/style.styl */
a.btn:hover {
  color: #fff;
}

/* line 385 : /Users/chemzqm/work/blog/public/styles/style.styl */
a.btn .icon {
  margin-right: 10px;
}

/* line 388 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-group {
  padding-left: 20px;
  margin: 10px 0;
}

/* line 391 : /Users/chemzqm/work/blog/public/styles/style.styl */
.btn-group .btn + .btn {
  margin-left: 10px;
}

/* line 395 : /Users/chemzqm/work/blog/public/styles/style.styl */
.ds-ui-icon {
  width: 18px;
  height: 13px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  background: transparent url("../images/sprites.png") no-repeat;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/* line 405 : /Users/chemzqm/work/blog/public/styles/style.styl */
.ds-ui-reply {
  background-position: 0 -104px;
  position: relative;
  top: -1px;
}

/* line 411 : /Users/chemzqm/work/blog/public/styles/style.styl */
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #16a085;
}

/* line 414 : /Users/chemzqm/work/blog/public/styles/style.styl */
input[type="text"],
input[type="password"],
input[type="textarea"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  border: 2px solid #ecf0f1;
  color: #353535;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 421 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments {
  padding: 0px;
}

/* line 423 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments h1,
ul.comments h2,
ul.comments h3 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 426 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li {
  position: relative;
  list-style: none;
  padding: 15px 20px 15px 30px;
  border-bottom: 1px solid #e2e2e2;
}

/* line 427 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li:hover {
  background: #f5f5f5;
}

/* line 429 : /Users/chemzqm/work/blog/public/styles/style.styl */

/* line 430 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li:hover .content .reply {
  visibility: visible;
}

/* line 436 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li:last-child {
  border-bottom-width: 0px;
}

/* line 438 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .floor {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  background-color: #bbb;
  color: #fff;
  padding: 3px 5px;
}

/* line 448 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .left img {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 450 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .content {
  margin-left: 60px;
}

/* line 452 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .time {
  color: #999;
}

/* line 454 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .time .reply {
  visibility: hidden;
}

/* line 456 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .time .reply a {
  color: #999;
}

/* line 458 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .time .reply a:hover {
  text-decoration: none;
  color: #555;
}

/* line 459 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .time .reply a:hover .ds-ui-icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 463 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .time > span {
  font-size: 12px;
  margin-right: 10px;
}

/* line 466 : /Users/chemzqm/work/blog/public/styles/style.styl */
ul.comments li .name {
  margin-right: 10px;
  font-weight: 700;
  color: #000;
}

/* line 471 : /Users/chemzqm/work/blog/public/styles/style.styl */

/* line 472 : /Users/chemzqm/work/blog/public/styles/style.styl */
#comment label {
  width: 40px;
}

/* line 474 : /Users/chemzqm/work/blog/public/styles/style.styl */
#comment img.vertify {
  margin-left: 8px;
  margin-right: 7px;
}

/* line 477 : /Users/chemzqm/work/blog/public/styles/style.styl */
#comment .preview {
  padding: 0 12px;
}

/* line 480 : /Users/chemzqm/work/blog/public/styles/style.styl */
.form-actions {
  margin-top: 12px;
  margin-left: 80px;
}

/* line 484 : /Users/chemzqm/work/blog/public/styles/style.styl */

/* line 485 : /Users/chemzqm/work/blog/public/styles/style.styl */
.control-group label {
  font-size: 14px;
  display: inline-block;
  margin: 0 10px;
}

/* line 489 : /Users/chemzqm/work/blog/public/styles/style.styl */
.control-group .hint {
  color: #aaa;
  margin-left: 6px;
}

/* line 492 : /Users/chemzqm/work/blog/public/styles/style.styl */
.control-group input[type="text"],
.control-group input[type="password"],
.control-group input[type="email"],
.control-group input[type="url"],
.control-group input[type="number"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 6px;
  outline: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 500 : /Users/chemzqm/work/blog/public/styles/style.styl */
.control-group input[type="text"]:focus,
.control-group input[type="password"]:focus,
.control-group input[type="email"]:focus,
.control-group input[type="url"]:focus,
.control-group input[type="number"]:focus {
  border-color: #51a7e8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
}

/* line 504 : /Users/chemzqm/work/blog/public/styles/style.styl */
#login_form {
  max-width: 360px;
  margin: 40px auto;
}

/* line 507 : /Users/chemzqm/work/blog/public/styles/style.styl */
#login_form input:focus + .login-field-icon {
  color: #16a085;
}

/* line 509 : /Users/chemzqm/work/blog/public/styles/style.styl */
#login_form .control-group {
  position: relative;
}

/* line 511 : /Users/chemzqm/work/blog/public/styles/style.styl */
#login_form input[type="text"],
#login_form input[type="password"] {
  font-size: 17px;
  padding-bottom: 11px;
  padding-top: 11px;
  text-indent: 6px;
  width: 100%;
}

/* line 517 : /Users/chemzqm/work/blog/public/styles/style.styl */
#login_form .login-field-icon {
  color: #bdc3c7;
  position: absolute;
  right: 13px;
  top: 14px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 524 : /Users/chemzqm/work/blog/public/styles/style.styl */
#login_form .btn {
  width: 100%;
}

/* line 527 : /Users/chemzqm/work/blog/public/styles/style.styl */
#form {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 24px 23px 20px;
  position: relative;
  background-color: #ecf0f1;
}

/* line 534 : /Users/chemzqm/work/blog/public/styles/style.styl */
.editor-wrapper {
  margin: 10px 0;
}

/* line 537 : /Users/chemzqm/work/blog/public/styles/style.styl */
#editor {
  height: 610px;
}

/* line 540 : /Users/chemzqm/work/blog/public/styles/style.styl */
#preview {
  position: absolute;
  background-color: #fff;
  min-height: 450px;
  z-index: 999;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 549 : /Users/chemzqm/work/blog/public/styles/style.styl */
#preview .content {
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  margin: 3px;
  border: 1px solid #cacaca;
  padding: 3px;
  max-height: 450px;
  overflow: auto;
}

/* line 556 : /Users/chemzqm/work/blog/public/styles/style.styl */
#preview .close {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}

/* line 562 : /Users/chemzqm/work/blog/public/styles/style.styl */
#preview .close:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 565 : /Users/chemzqm/work/blog/public/styles/style.styl */
.markdown {
  line-height: 1.6;
}

/* line 567 : /Users/chemzqm/work/blog/public/styles/style.styl */
.markdown code {
  white-space: nowrap;
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 574 : /Users/chemzqm/work/blog/public/styles/style.styl */
.markdown pre code {
  white-space: pre;
}

/* line 576 : /Users/chemzqm/work/blog/public/styles/style.styl */
.markdown blockquote {
  border-left: 4px solid #ddd;
  padding: 0 15px;
  color: #777;
}

/* line 580 : /Users/chemzqm/work/blog/public/styles/style.styl */
.markdown table {
  border: 1px solid #ddd;
  border-collapse: separate;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-spacing: 0;
}

/* line 585 : /Users/chemzqm/work/blog/public/styles/style.styl */
.markdown table td,
.markdown table th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 8px;
  line-height: 20px;
}

/* line 590 : /Users/chemzqm/work/blog/public/styles/style.styl */
.markdown table thead tr:first-child th {
  border-top: 0;
}

/* line 592 : /Users/chemzqm/work/blog/public/styles/style.styl */
.markdown table tr th:first-child,
.markdown table tr td:first-child {
  border-left: 0;
}

/* line 596 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container {
  display: inline-block;
  zoom: 1;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

/* line 603 : /Users/chemzqm/work/blog/public/styles/style.styl */

/* line 604 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container.dk_open > a.dk_toggle {
  background-color: #1abc9c;
}

/* line 606 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container.dk_open > a.dk_toggle .select-icon {
  background-color: #16a085;
  border-left-color: transparent;
}

/* line 609 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container.dk_open .dk_options {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin-top: 11px;
  z-index: 999;
}

/* line 613 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle {
  display: block;
  position: relative;
  background-color: #1abc9c;
  color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  padding: 0 2em;
  line-height: 2em;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 626 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle:hover {
  background-color: #1dd2af;
  color: #fff;
}

/* line 629 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle .dk_label {
  margin-right: 44px;
}

/* line 631 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle .select-icon {
  background: #1abc9c url("../images/toggle.png") no-repeat right center;
  border-left: 2px solid rgba(52,73,94,0.15);
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 642 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container .dk_options {
  margin-top: 0px;
  top: 27px;
  position: absolute;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 100%;
  z-index: 0;
  display: none 9;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 653 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container .dk_options:before {
  left: auto;
  right: 12px;
  content: "";
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #34495e transparent;
  height: 0px;
  position: absolute;
  top: -9px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}

/* line 665 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner {
  overflow: auto;
  outline: none;
  position: relative;
  background-color: #34495e;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 3px 3px 0;
}

/* line 673 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li {
  margin-bottom: 3px;
  line-height: 2em;
}

/* line 676 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li a {
  padding: 0 2em;
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-indent: -4px;
  color: #fff;
  text-decoration: none;
}

/* line 683 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li a:hover {
  background-color: #1abc9c;
}

/* line 685 : /Users/chemzqm/work/blog/public/styles/style.styl */

/* line 686 : /Users/chemzqm/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li.dk_option_current a {
  background-color: #1abc9c;
}

/* line 689 : /Users/chemzqm/work/blog/public/styles/style.styl */
.comment-container {
  margin: 20px 0;
}

/* line 691 : /Users/chemzqm/work/blog/public/styles/style.styl */
.comment-container img.avatar {
  position: relative;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 695 : /Users/chemzqm/work/blog/public/styles/style.styl */
.comment-container .content-bubble {
  overflow: visible;
  position: relative;
  margin-left: 60px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 700 : /Users/chemzqm/work/blog/public/styles/style.styl */
.comment-container .content-bubble:before {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  border: 1px solid #ccc;
  border-width: 0 0 1px 1px;
  position: absolute;
  left: -9px;
  top: 15px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 712 : /Users/chemzqm/work/blog/public/styles/style.styl */
.comment-container .content-bubble .bubble-inner {
  min-height: 32px;
}

/* line 715 : /Users/chemzqm/work/blog/public/styles/style.styl */
#dropbox {
  margin: 0 10px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  border: 1px solid #ccc;
}

/* line 720 : /Users/chemzqm/work/blog/public/styles/style.styl */
#dropbox.focus {
  border-color: #51a7e8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
}

/* line 723 : /Users/chemzqm/work/blog/public/styles/style.styl */
#dropbox.focus textarea {
  border-bottom-color: #51a7e8;
}

/* line 725 : /Users/chemzqm/work/blog/public/styles/style.styl */
#dropbox.dragover {
  -webkit-box-shadow: #c9ff00 0 0 3px;
  box-shadow: #c9ff00 0 0 3px;
}

/* line 727 : /Users/chemzqm/work/blog/public/styles/style.styl */
#dropbox.dragover textarea {
  border-bottom-color: #c9ff00;
}

/* line 729 : /Users/chemzqm/work/blog/public/styles/style.styl */
#dropbox textarea {
  min-height: 58px;
  border-width: 0;
  outline: none;
  border-bottom: 1px dashed #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 8px;
  max-height: 500px;
  width: 100%;
  resize: vertical;
}

/* line 739 : /Users/chemzqm/work/blog/public/styles/style.styl */
#dropbox .drag-drop {
  line-height: 1.6;
  color: #aaa;
  padding: 0 8px;
}

/* line 743 : /Users/chemzqm/work/blog/public/styles/style.styl */
.tabnav {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  height: 35px;
}

/* line 747 : /Users/chemzqm/work/blog/public/styles/style.styl */
.tabnav span.right {
  display: inline-block;
  margin-top: 12px;
  margin-right: 14px;
  font-size: 12px;
  color: #666;
}

/* line 753 : /Users/chemzqm/work/blog/public/styles/style.styl */
.tabnav ul {
  margin: 0;
  padding-left: 12px;
  display: inline-block;
}

/* line 757 : /Users/chemzqm/work/blog/public/styles/style.styl */
.tabnav ul>li {
  display: inline-block;
  line-height: 35px;
  padding: 0 12px;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0;
}

/* line 765 : /Users/chemzqm/work/blog/public/styles/style.styl */
.tabnav ul>li.active {
  border-color: #ddd;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  border-bottom-color: #fff;
}

/* line 771 : /Users/chemzqm/work/blog/public/styles/style.styl */
.social-login {
  display: none;
  color: #333;
  margin: 5px 8px;
}

/* line 775 : /Users/chemzqm/work/blog/public/styles/style.styl */
.social-login a {
  display: inline-block;
  color: #777;
  margin: 0 10px;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  -ms-transition: color 0.15s linear;
  transition: color 0.15s linear;
  vertical-align: middle;
  padding-left: 20px;
  background: url("../images/social/social-icons.png") no-repeat;
  overflow: hidden;
}

/* line 784 : /Users/chemzqm/work/blog/public/styles/style.styl */
.social-login a.weibo {
  background-position: 0 0;
}

/* line 786 : /Users/chemzqm/work/blog/public/styles/style.styl */
.social-login a.qq {
  background-position: 0 -192px;
}

/* line 788 : /Users/chemzqm/work/blog/public/styles/style.styl */
.social-login a:hover {
  color: #333;
  text-decoration: none;
}

/* line 792 : /Users/chemzqm/work/blog/public/styles/style.styl */

/* line 793 : /Users/chemzqm/work/blog/public/styles/style.styl */
#messages.error {
  background-color: #c0392b;
  padding: 0 10px;
  line-height: 1.6;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 799 : /Users/chemzqm/work/blog/public/styles/style.styl */
#messages.hide {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 803 : /Users/chemzqm/work/blog/public/styles/style.styl */
#progress {
  padding: 0 8px;
}

/* line 805 : /Users/chemzqm/work/blog/public/styles/style.styl */
#progress > p {
  width: 240px;
  padding: 2px 5px;
  margin: 2px 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #eee url("../images/progress.png") 100% 0 repeat-y;
}

/* line 811 : /Users/chemzqm/work/blog/public/styles/style.styl */
#progress > p.failure {
  background: #c00 none 0 0 no-repeat;
}
