
/* line 1 : /home/jack/modules/stylus/lib/functions/index.styl */

/* line 14 : /home/jack/modules/nib/lib/nib/index.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/border.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/clearfix.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/color-image.styl */

/* line 6 : /home/jack/modules/nib/lib/nib/flex.styl */

/* line 154 : /home/jack/modules/nib/lib/nib/gradients.styl */

/* line 154 : /home/jack/modules/nib/lib/nib/config.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/iconic.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/image.styl */

/* line 15 : /home/jack/modules/nib/lib/nib/overflow.styl */

/* line 3 : /home/jack/modules/nib/lib/nib/positions.styl */

/* line 3 : /home/jack/modules/nib/lib/nib/reset.styl */

/* line 5 : /home/jack/modules/nib/lib/nib/text/index.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /home/jack/modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /home/jack/modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /home/jack/modules/nib/lib/nib/text/replace-text.styl */

/* line 557 : /home/jack/modules/nib/lib/nib/vendor.styl */

/* line 557 : /home/jack/modules/nib/lib/nib/config.styl */

/* line 12 : /home/jack/modules/nib/lib/nib/size.styl */

/* line 26 : /home/jack/work/blog/public/styles/style.styl */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 30 : /home/jack/work/blog/public/styles/style.styl */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 33 : /home/jack/work/blog/public/styles/style.styl */
/*
 * Image replacement
 */

/* line 37 : /home/jack/work/blog/public/styles/style.styl */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
/* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 44 : /home/jack/work/blog/public/styles/style.styl */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 51 : /home/jack/work/blog/public/styles/style.styl */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 59 : /home/jack/work/blog/public/styles/style.styl */
img {
  vertical-align: middle;
  border: 0;
}

/* line 63 : /home/jack/work/blog/public/styles/style.styl */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 70 : /home/jack/work/blog/public/styles/style.styl */
body {
  font: Arial,;
/*'Microsoft YaHei',*/
  Verdana: , "BitStream vera Sans", Tahoma, Helvetica, Sans-serif;
  font-size: 14px;
  color: #353535;
}

/* line 75 : /home/jack/work/blog/public/styles/style.styl */
a {
  color: #2c3e50;
  text-decoration: none;
  cursor: pointer;
}

/* line 80 : /home/jack/work/blog/public/styles/style.styl */
a:hover,
a:focus {
  text-decoration: underline;
}

/* line 83 : /home/jack/work/blog/public/styles/style.styl */
pre,
code,
tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

/* line 88 : /home/jack/work/blog/public/styles/style.styl */
.clearfix {
  zoom: 1;
}

/* line 23 : /home/jack/modules/nib/lib/nib/clearfix.styl */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 27 : /home/jack/modules/nib/lib/nib/clearfix.styl */
.clearfix:after {
  clear: both;
}

/* line 91 : /home/jack/work/blog/public/styles/style.styl */
.hidden {
  display: none;
}

/* line 94 : /home/jack/work/blog/public/styles/style.styl */
.right {
  float: right;
}

/* line 97 : /home/jack/work/blog/public/styles/style.styl */
.left {
  float: left;
}

/* line 100 : /home/jack/work/blog/public/styles/style.styl */
.success {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  background-color: #2ecc71;
  padding: 8px 0 9px 10px;
  margin-bottom: 10px;
}

/* line 107 : /home/jack/work/blog/public/styles/style.styl */
.ghost {
  position: relative;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: 0;
}

/* line 111 : /home/jack/work/blog/public/styles/style.styl */
.ghost > div {
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

/* line 118 : /home/jack/work/blog/public/styles/style.styl */
.ghost > div.hide {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  top: -20px;
}

/* line 122 : /home/jack/work/blog/public/styles/style.styl */
.block {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #fcfcfa;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* line 129 : /home/jack/work/blog/public/styles/style.styl */
.container {
  max-width: 680px;
  margin: 0 auto;
  padding-left: 20px;
}

/* line 134 : /home/jack/work/blog/public/styles/style.styl */
section {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ecf0f1;
}

/* line 138 : /home/jack/work/blog/public/styles/style.styl */
#title {
  text-align: center;
}

/* line 140 : /home/jack/work/blog/public/styles/style.styl */
#title p {
  color: #7b838a;
}

/* line 143 : /home/jack/work/blog/public/styles/style.styl */
#header {
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 0 4px #eee;
  box-shadow: 0 0 4px #eee;
  position: fixed;
  font-size: 1.3em;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #2c3e50;
}

/* line 144 : /home/jack/work/blog/public/styles/style.styl */
#header + div {
  margin-top: 60px;
  height: 0px;
  font-size: 0px;
}

/* line 157 : /home/jack/work/blog/public/styles/style.styl */
#header .nav {
  max-width: 700px;
  margin: 0 auto;
}

/* line 160 : /home/jack/work/blog/public/styles/style.styl */
#header .nav ul {
  margin: 0;
  padding: 0;
}

/* line 163 : /home/jack/work/blog/public/styles/style.styl */
#header .nav ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

/* line 168 : /home/jack/work/blog/public/styles/style.styl */
#header .nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

/* line 173 : /home/jack/work/blog/public/styles/style.styl */
#header .nav ul li a:hover {
  text-decoration: underline;
}

/* line 175 : /home/jack/work/blog/public/styles/style.styl */
#header .nav ul li a.active {
  font-weight: bold;
}

/* line 178 : /home/jack/work/blog/public/styles/style.styl */

/* line 179 : /home/jack/work/blog/public/styles/style.styl */
#header .social {
  margin: 5px 0;
}

/* line 181 : /home/jack/work/blog/public/styles/style.styl */
#header .social a {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *text-indent: -9999px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 15px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  width: 28px;
  height: 28px;
  -webkit-transition: 0.3s;
}

/* line 195 : /home/jack/work/blog/public/styles/style.styl */
#header .social a.rss {
  background: url("/images/social/rss.png") center no-repeat #ef7522;
  border: 1px solid #ef7522;
}

/* line 198 : /home/jack/work/blog/public/styles/style.styl */
#header .social a.rss:hover {
  border: 1px solid #cf5d0f;
}

/* line 200 : /home/jack/work/blog/public/styles/style.styl */
#header .social a.github {
  background: url("/images/social/github.png") center no-repeat #afb6ca;
  border: 1px solid #afb6ca;
}

/* line 203 : /home/jack/work/blog/public/styles/style.styl */
#header .social a.github:hover {
  border: 1px solid #909ab6;
}

/* line 205 : /home/jack/work/blog/public/styles/style.styl */
#header .social a.weibo {
  background: url("/images/social/weibo.png") center no-repeat #fff;
  border: 1px solid #c0392b;
}

/* line 208 : /home/jack/work/blog/public/styles/style.styl */
#header .social a:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 211 : /home/jack/work/blog/public/styles/style.styl */
.post {
  margin-bottom: 20px;
  padding: 30px;
}

/* line 214 : /home/jack/work/blog/public/styles/style.styl */
.post .title {
  margin: 10px 0px;
  color: #2c3e50;
  line-height: 1em;
  font-weight: bold;
  font-family: Pmingliu, Mingliu;
}

/* line 220 : /home/jack/work/blog/public/styles/style.styl */
.post .meta {
  margin-bottom: 15px;
  color: #777;
  font-size: 10px;
}

/* line 225 : /home/jack/work/blog/public/styles/style.styl */
ul.listview {
  padding: 0px;
}

/* line 227 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li:nth-child(odd) {
  background-color: #f9f9f9;
}

/* line 229 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li {
  line-height: 2.8;
  list-style: none;
  position: relative;
}

/* line 233 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li .tag {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f1c40f;
  padding: 5px 10px;
  color: #fff;
}

/* line 238 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li > a {
  color: #353535;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding-right: 10px;
}

/* line 244 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li > a:hover {
  color: #259dff;
}

/* line 246 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li .btn-group,
ul.listview li .date {
  position: absolute;
  margin: 0;
  right: 10px;
  top: 0;
}

/* line 251 : /home/jack/work/blog/public/styles/style.styl */
ul.listview li .date {
  color: #bdc3c7;
}

/* line 254 : /home/jack/work/blog/public/styles/style.styl */

/* line 255 : /home/jack/work/blog/public/styles/style.styl */
#admin-list li {
  border-top: 1px solid #ddd;
}

/* line 260 : /home/jack/work/blog/public/styles/style.styl */
h1 {
  font-size: 32px;
  margin: 10px 0;
}

/* line 263 : /home/jack/work/blog/public/styles/style.styl */
h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px;
}

/* line 268 : /home/jack/work/blog/public/styles/style.styl */
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}

/* line 274 : /home/jack/work/blog/public/styles/style.styl */
h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}

/* line 279 : /home/jack/work/blog/public/styles/style.styl */
h1,
h2,
h3 {
  line-height: 40px;
}

/* line 282 : /home/jack/work/blog/public/styles/style.styl */
.control-group {
  margin: 1em 0;
}

/* line 286 : /home/jack/work/blog/public/styles/style.styl */
.btn {
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 16.5px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
}

/* line 297 : /home/jack/work/blog/public/styles/style.styl */
.btn-block {
  background-color: #353535;
}

/* line 299 : /home/jack/work/blog/public/styles/style.styl */
.btn-block:hover {
  background-color: #7b838a;
}

/* line 302 : /home/jack/work/blog/public/styles/style.styl */
.btn-primary {
  background-color: #16a085;
}

/* line 304 : /home/jack/work/blog/public/styles/style.styl */
.btn-primary:hover {
  background-color: #1abc9c;
}

/* line 307 : /home/jack/work/blog/public/styles/style.styl */
.btn-danger {
  background-color: #c0392b;
}

/* line 309 : /home/jack/work/blog/public/styles/style.styl */
.btn-danger:hover {
  background-color: #e74c3c;
}

/* line 312 : /home/jack/work/blog/public/styles/style.styl */
.btn-warning {
  background-color: #f39c12;
}

/* line 314 : /home/jack/work/blog/public/styles/style.styl */
.btn-warning:hover {
  background-color: #f1c40f;
}

/* line 317 : /home/jack/work/blog/public/styles/style.styl */
.btn-info {
  background-color: #259dff;
}

/* line 319 : /home/jack/work/blog/public/styles/style.styl */
.btn-info:hover {
  background-color: #3498db;
}

/* line 322 : /home/jack/work/blog/public/styles/style.styl */
.btn.primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8add6d), color-stop(1, #60b044));
  background-image: -webkit-linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-image: -moz-linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-image: -o-linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-image: -ms-linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-image: linear-gradient(top, #8add6d 0%, #60b044 100%);
  background-repeat: repeat-x;
  border: 1px solid #5ca941;
}

/* line 329 : /home/jack/work/blog/public/styles/style.styl */
.btn.primary:hover {
  border-color: #4a993e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #79d858), color-stop(1, #569e3d));
  background-image: -webkit-linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-image: -moz-linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-image: -o-linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-image: -ms-linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-image: linear-gradient(top, #79d858 0%, #569e3d 100%);
  background-color: #569e3d;
}

/* line 333 : /home/jack/work/blog/public/styles/style.styl */
.btn.primary:active {
  background-color: #569e3d;
  background-image: none;
  border-color: #418737;
}

/* line 338 : /home/jack/work/blog/public/styles/style.styl */
a.btn {
  text-decoration: none;
  font-size: 1em;
}

/* line 341 : /home/jack/work/blog/public/styles/style.styl */
a.btn:hover {
  color: #fff;
}

/* line 343 : /home/jack/work/blog/public/styles/style.styl */
a.btn .icon {
  margin-right: 10px;
}

/* line 346 : /home/jack/work/blog/public/styles/style.styl */
.btn-group {
  margin: 10px 0;
}

/* line 348 : /home/jack/work/blog/public/styles/style.styl */
.btn-group .btn + .btn {
  margin-left: 10px;
}

/* line 352 : /home/jack/work/blog/public/styles/style.styl */
.ds-ui-icon {
  width: 18px;
  height: 13px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  background: transparent url("../images/sprites.png") no-repeat;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/* line 362 : /home/jack/work/blog/public/styles/style.styl */
.ds-ui-reply {
  background-position: 0 -104px;
  position: relative;
  top: -1px;
}

/* line 368 : /home/jack/work/blog/public/styles/style.styl */
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #16a085;
}

/* line 371 : /home/jack/work/blog/public/styles/style.styl */
input[type="text"],
input[type="password"],
input[type="textarea"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  border: 2px solid #ecf0f1;
  color: #353535;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 378 : /home/jack/work/blog/public/styles/style.styl */
ul.comments {
  padding: 0px;
}

/* line 380 : /home/jack/work/blog/public/styles/style.styl */
ul.comments h1,
ul.comments h2,
ul.comments h3 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 383 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li {
  position: relative;
  list-style: none;
  padding: 15px 20px 15px 30px;
  border-bottom: 1px solid #e2e2e2;
}

/* line 384 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li:hover {
  background: #f5f5f5;
}

/* line 386 : /home/jack/work/blog/public/styles/style.styl */

/* line 387 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li:hover .content .reply {
  display: inline;
}

/* line 393 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li:last-child {
  border-bottom-width: 0px;
}

/* line 395 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .floor {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  background-color: #bbb;
  color: #fff;
  padding: 3px 5px;
}

/* line 405 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .left img {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 407 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .time {
  font-size: 10px;
  color: #999;
}

/* line 410 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .content {
  margin-left: 60px;
}

/* line 412 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .content .reply {
  display: none;
}

/* line 414 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .content .reply a {
  font-size: 12px;
  color: #999;
}

/* line 417 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .content .reply a:hover {
  text-decoration: none;
  color: #555;
}

/* line 418 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .content .reply a:hover .ds-ui-icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 422 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .content > span {
  margin-right: 10px;
}

/* line 424 : /home/jack/work/blog/public/styles/style.styl */
ul.comments li .content .name {
  font-weight: 700;
  font-size: 12px;
  color: #000;
}

/* line 429 : /home/jack/work/blog/public/styles/style.styl */

/* line 430 : /home/jack/work/blog/public/styles/style.styl */
#comment label {
  width: 40px;
}

/* line 432 : /home/jack/work/blog/public/styles/style.styl */
#comment img.vertify {
  margin-left: 8px;
  margin-right: 7px;
}

/* line 435 : /home/jack/work/blog/public/styles/style.styl */
#comment .preview {
  padding: 0 12px;
}

/* line 438 : /home/jack/work/blog/public/styles/style.styl */
.form-actions {
  margin-top: 12px;
  margin-left: 80px;
}

/* line 442 : /home/jack/work/blog/public/styles/style.styl */

/* line 443 : /home/jack/work/blog/public/styles/style.styl */
.control-group label {
  font-size: 14px;
  display: inline-block;
  margin: 0 10px;
}

/* line 447 : /home/jack/work/blog/public/styles/style.styl */
.control-group .hint {
  color: #aaa;
  margin-left: 6px;
}

/* line 450 : /home/jack/work/blog/public/styles/style.styl */
.control-group input[type="text"],
.control-group input[type="password"],
.control-group input[type="email"],
.control-group input[type="url"],
.control-group input[type="number"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 6px;
  outline: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 458 : /home/jack/work/blog/public/styles/style.styl */
.control-group input[type="text"]:focus,
.control-group input[type="password"]:focus,
.control-group input[type="email"]:focus,
.control-group input[type="url"]:focus,
.control-group input[type="number"]:focus {
  border-color: #51a7e8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
}

/* line 462 : /home/jack/work/blog/public/styles/style.styl */
#login_form {
  max-width: 360px;
  margin: 40px auto;
}

/* line 465 : /home/jack/work/blog/public/styles/style.styl */
#login_form input:focus + .login-field-icon {
  color: #16a085;
}

/* line 467 : /home/jack/work/blog/public/styles/style.styl */
#login_form .control-group {
  position: relative;
}

/* line 469 : /home/jack/work/blog/public/styles/style.styl */
#login_form input[type="text"],
#login_form input[type="password"] {
  font-size: 17px;
  padding-bottom: 11px;
  padding-top: 11px;
  text-indent: 6px;
  width: 100%;
}

/* line 475 : /home/jack/work/blog/public/styles/style.styl */
#login_form .login-field-icon {
  color: #bdc3c7;
  position: absolute;
  right: 13px;
  top: 14px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 482 : /home/jack/work/blog/public/styles/style.styl */
#login_form .btn {
  width: 100%;
}

/* line 485 : /home/jack/work/blog/public/styles/style.styl */
#form {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 24px 23px 20px;
  position: relative;
  background-color: #ecf0f1;
}

/* line 492 : /home/jack/work/blog/public/styles/style.styl */
.editor-wrapper {
  margin: 10px 0;
}

/* line 495 : /home/jack/work/blog/public/styles/style.styl */
#preview {
  position: absolute;
  background-color: #fff;
  min-height: 450px;
  z-index: 999;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 504 : /home/jack/work/blog/public/styles/style.styl */
#preview .content {
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  margin: 3px;
  border: 1px solid #cacaca;
  padding: 3px;
  max-height: 450px;
  overflow: auto;
}

/* line 511 : /home/jack/work/blog/public/styles/style.styl */
#preview .close {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}

/* line 517 : /home/jack/work/blog/public/styles/style.styl */
#preview .close:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 520 : /home/jack/work/blog/public/styles/style.styl */
.markdown {
  line-height: 1.6;
}

/* line 523 : /home/jack/work/blog/public/styles/style.styl */
.markdown code {
  white-space: nowrap;
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 531 : /home/jack/work/blog/public/styles/style.styl */
.markdown blockquote {
  border-left: 4px solid #ddd;
  padding: 0 15px;
  color: #777;
}

/* line 537 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container {
  display: inline-block;
  zoom: 1;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

/* line 544 : /home/jack/work/blog/public/styles/style.styl */

/* line 545 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container.dk_open > a.dk_toggle {
  background-color: #1abc9c;
}

/* line 547 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container.dk_open > a.dk_toggle .select-icon {
  background-color: #16a085;
  border-left-color: transparent;
}

/* line 550 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container.dk_open .dk_options {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin-top: 11px;
  z-index: 999;
}

/* line 554 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle {
  display: block;
  position: relative;
  background-color: #1abc9c;
  color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  padding: 0 2em;
  line-height: 2em;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 567 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle:hover {
  background-color: #1dd2af;
  color: #fff;
}

/* line 570 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle .dk_label {
  margin-right: 44px;
}

/* line 572 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container > a.dk_toggle .select-icon {
  background: #1abc9c url("../images/toggle.png") no-repeat right center;
  border-left: 2px solid rgba(52,73,94,0.15);
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 583 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options {
  margin-top: 0px;
  top: 27px;
  position: absolute;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 100%;
  z-index: 0;
  display: none 9;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 594 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options:before {
  left: auto;
  right: 12px;
  content: "";
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #34495e transparent;
  height: 0px;
  position: absolute;
  top: -9px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}

/* line 606 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner {
  overflow: auto;
  outline: none;
  position: relative;
  background-color: #34495e;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 3px 3px 0;
}

/* line 614 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li {
  margin-bottom: 3px;
  line-height: 2em;
}

/* line 617 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li a {
  padding: 0 2em;
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-indent: -4px;
  color: #fff;
  text-decoration: none;
}

/* line 624 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li a:hover {
  background-color: #1abc9c;
}

/* line 626 : /home/jack/work/blog/public/styles/style.styl */

/* line 627 : /home/jack/work/blog/public/styles/style.styl */
div.dk_container .dk_options .dk_options_inner li.dk_option_current a {
  background-color: #1abc9c;
}

/* line 630 : /home/jack/work/blog/public/styles/style.styl */
.comment-container {
  margin: 20px 0;
}

/* line 632 : /home/jack/work/blog/public/styles/style.styl */
.comment-container img.avatar {
  position: relative;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 636 : /home/jack/work/blog/public/styles/style.styl */
.comment-container .content-bubble {
  position: relative;
  margin-left: 60px;
  padding: 3px;
  background-color: #eee;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 642 : /home/jack/work/blog/public/styles/style.styl */
.comment-container .content-bubble:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 10px solid #eee;
  border-width: 10px 10px 10px 0;
  border-color: rgba(238,238,238,0) #eee rgba(238,238,238,0) rgba(238,238,238,0);
  position: absolute;
  left: -10px;
  top: 15px;
}

/* line 653 : /home/jack/work/blog/public/styles/style.styl */
.comment-container .content-bubble .bubble-inner {
  min-height: 32px;
  border: 1px solid #cacaca;
  background-color: #fff;
}

/* line 658 : /home/jack/work/blog/public/styles/style.styl */
#dropbox {
  margin: 0 10px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  border: 1px solid #ccc;
}

/* line 663 : /home/jack/work/blog/public/styles/style.styl */
#dropbox.focus {
  border-color: #51a7e8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
}

/* line 666 : /home/jack/work/blog/public/styles/style.styl */
#dropbox.focus textarea {
  border-bottom-color: #51a7e8;
}

/* line 668 : /home/jack/work/blog/public/styles/style.styl */
#dropbox.dragover {
  -webkit-box-shadow: #c9ff00 0 0 3px;
  box-shadow: #c9ff00 0 0 3px;
}

/* line 670 : /home/jack/work/blog/public/styles/style.styl */
#dropbox.dragover textarea {
  border-bottom-color: #c9ff00;
}

/* line 672 : /home/jack/work/blog/public/styles/style.styl */
#dropbox textarea {
  min-height: 58px;
  border-width: 0;
  outline: none;
  border-bottom: 1px dashed #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 8px;
  max-height: 500px;
  width: 100%;
  resize: vertical;
}

/* line 682 : /home/jack/work/blog/public/styles/style.styl */
#dropbox .drag-drop {
  line-height: 1.6;
  color: #aaa;
  padding: 0 8px;
}

/* line 686 : /home/jack/work/blog/public/styles/style.styl */
.tabnav {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  height: 35px;
}

/* line 690 : /home/jack/work/blog/public/styles/style.styl */
.tabnav span.right {
  display: inline-block;
  margin-top: 12px;
  margin-right: 14px;
  font-size: 12px;
  color: #666;
}

/* line 696 : /home/jack/work/blog/public/styles/style.styl */
.tabnav ul {
  margin: 0;
  padding-left: 12px;
  display: inline-block;
}

/* line 700 : /home/jack/work/blog/public/styles/style.styl */
.tabnav ul>li {
  display: inline-block;
  line-height: 35px;
  padding: 0 12px;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0;
}

/* line 708 : /home/jack/work/blog/public/styles/style.styl */
.tabnav ul>li.active {
  border-color: #ddd;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  border-bottom-color: #fff;
}

/* line 714 : /home/jack/work/blog/public/styles/style.styl */
.social-login {
  color: #333;
  margin: 5px 8px;
}

/* line 717 : /home/jack/work/blog/public/styles/style.styl */
.social-login a {
  display: inline-block;
  color: #777;
  margin: 0 10px;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  -ms-transition: color 0.15s linear;
  transition: color 0.15s linear;
  vertical-align: middle;
  padding-left: 20px;
  background: url("../images/social/social-icons.png") no-repeat;
  overflow: hidden;
}

/* line 726 : /home/jack/work/blog/public/styles/style.styl */
.social-login a.weibo {
  background-position: 0 0;
}

/* line 728 : /home/jack/work/blog/public/styles/style.styl */
.social-login a.qq {
  background-position: 0 -192px;
}

/* line 730 : /home/jack/work/blog/public/styles/style.styl */
.social-login a:hover {
  color: #333;
  text-decoration: none;
}

/* line 734 : /home/jack/work/blog/public/styles/style.styl */

/* line 735 : /home/jack/work/blog/public/styles/style.styl */
#messages.error {
  background-color: #c0392b;
  padding: 0 10px;
  line-height: 1.6;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 741 : /home/jack/work/blog/public/styles/style.styl */
#messages.hide {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 745 : /home/jack/work/blog/public/styles/style.styl */
#progress {
  padding: 0 8px;
}

/* line 747 : /home/jack/work/blog/public/styles/style.styl */
#progress > p {
  width: 240px;
  padding: 2px 5px;
  margin: 2px 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #eee url("../images/progress.png") 100% 0 repeat-y;
}

/* line 753 : /home/jack/work/blog/public/styles/style.styl */
#progress > p.failure {
  background: #c00 none 0 0 no-repeat;
}
