@import 'nib'

//colors
$seaGreen = #16A085
$lightSeaGreen = #1ABC9C
$green = #27AE60
$lightGreen = #2ecc71
$blue = #259dff
$lightBlue = #3498DB
$purple = #8E44AD
$lightPurple = #9B59B6
$black = #353535
$lightBlack = #7b838a
$yellow = #F39C12
$lightYellow = #F1C40F
$orange = #D35400
$lightOrange = #E67E22
$red = #C0392B
$lightRed = #e74c3c
$silver = #BDC3C7
$lightSilver = #ECF0F1
$gray = #7F8C8D
$lightGray = #95A5A6

$maxWidth = 700px
::-moz-selection
  background: #b3d4fc
  text-shadow: none

::selection
  background: #b3d4fc
  text-shadow: none
/*
 * Image replacement
 */

.ir
  background-color: transparent
  border: 0
  overflow: hidden
  /* IE 6/7 fallback */
  *text-indent: -9999px

.ir:before 
  content: ""
  display: block
  width: 0
  height: 150%


hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

img
  vertical-align: middle
  border: 0

fieldset
  border: 0
  margin: 0
  padding: 0



body
  font: Arial,/*'Microsoft YaHei',*/Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif
  font-size: 14px
  color: $black

a
  color: $blue
  text-decoration: none
  cursor: pointer

a:hover, a:focus
  text-decoration: underline

pre, code, tt
  font-size: 12px
  font-family: Consolas, "Liberation Mono", Courier, monospace

//common
.clearfix
  clearfix()

.hidden
  display: none

.right
  float: right

.left
  float: left

.success
  border-radius: 6px
  color: #fff
  background-color: $lightGreen
  padding: 8px 0 9px 10px
  margin-bottom: 10px

.ghost
  position: relative
  opacity:1
  height:0
  > div
    position: absolute
    transition: 0.3s ease-in-out
    width: 100%
    left: 0
    top: 0
    z-index: 999
    &.hide
      opacity:0
      top: -20px


.container
  max-width: $maxWidth - 20
  margin:0 auto
  padding-left: 20px

section
  border-radius: 5px
  background-color:  $lightSilver

#title
  text-align: center
  p
    color: $lightBlack

.bar
  margin-top: 55px
  height: 0px
  font-size: 0px

#header
  border-bottom: 1px solid #ddd
  background-image: linear-gradient(#f9f9f9, #f3f3f3)
  box-shadow: 0 0 4px #eee
  position: fixed
  font-size: 1.3em
  width: 100%
  top: 0
  left: 0
  z-index: 10
  background-color: #fff
  .nav
    max-width: $maxWidth
    margin: 0 auto
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        float: left
        margin: 0
        padding: 0
        a
          display:block
          padding: 10px 20px
          color: #7B838A
          text-decoration: none
          &:hover
            text-decoration: underline
          &.active
            font-weight: bold
            color:#353535

#header
  .social
    margin: 5px 0
    a
      border-radius: 50%
      display: inline-block
      vertical-align: middle
      zoom: 1
      *text-indent: -9999px
      text-indent: 100%
      white-space: nowrap
      overflow: hidden
      margin-right: 15px
      opacity: 0.5
      width: 28px
      height: 28px
      -webkit-transition: 0.3s
      &.rss
        background: url('/images/social/rss.png') center no-repeat #ef7522
        border: 1px solid #ef7522
        &:hover
          border: 1px solid #cf5d0f
      &.github
        background: url('/images/social/github.png') center no-repeat #afb6ca
        border: 1px solid #afb6ca
        &:hover
          border: 1px solid #909ab6
      &.weibo
        background: url('/images/social/weibo.png') center no-repeat #fff
        border: 1px solid $red
      &:hover
        opacity: 1

ul.listview
  padding: 0px
  li:nth-child(odd)
    background-color: #f9f9f9
  li
    line-height: 2.8
    list-style: none
    position: relative
    .tag
      border-radius: 5px
      background-color: $lightYellow
      padding: 5px 10px
      color: #fff
    & > a
      color: $black
      text-decoration: none
      cursor: pointer
      display:inline-block
      padding-right: 10px
      &:hover
        color: $blue
    .btn-group, & .date
      position:absolute
      margin: 0
      right: 10px
      top: 0
    .date
      color: $silver

#admin-list
  li
    border-top:1px solid #dddddd


//headers
h1
  font-size: 32px
  margin: 10px 0
h2
  font-size: 26px
  font-weight: 700
  margin-bottom: 2px

h3
  font-size: 24px
  font-weight: 700
  margin-bottom: 4px
  margin-top: 2px

h4
  font-size: 18px
  font-weight: 500
  margin-top: 4px

h1, h2, h3
  line-height: 40px

.control-group
  margin: 1em 0

//button
.btn
  display:inline-block
  border: none
  color: #fff
  font-size: 16.5px
  transition: 0.25s
  border-radius: 6px
  height: 2em
  line-height: 2em
  padding: 0 1em

.btn-block
  background-color: $black
  &:hover
    background-color: $lightBlack

.btn-primary
  background-color: $seaGreen
  &:hover
    background-color: $lightSeaGreen

.btn-danger
  background-color: $red
  &:hover
    background-color: $lightRed

.btn-warning
  background-color: $yellow
  &:hover
    background-color: $lightYellow

.btn-info
  background-color: $blue
  &:hover
    background-color: $lightBlue

.btn.primary
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border: 1px solid #5ca941;
  &:hover
    border-color: #4a993e;
    background-image: linear-gradient(#79d858, #569e3d);
    background-color: #569e3d;
  &:active
    background-color: #569e3d;
    background-image: none;
    border-color: #418737;

a.btn
  text-decoration: none
  font-size: 1em
  &:hover
    color:#fff
  .icon
    margin-right:10px

.btn-group
  margin: 10px 0
  .btn + .btn
    margin-left: 10px

//form
input[type="text"]:focus, input[type="password"]:focus
  border-color: $seaGreen

input[type="text"], input[type="password"], input[type="textarea"]
  box-shadow: none
  outline: 0
  border: 2px solid $lightSilver
  color: $black
  border-radius: 6px

#comment
  label
    width: 40px
  img.vertify
    margin-left: 8px
    margin-right: 7px

.form-actions
  margin-top: 12px
  margin-left: 80px

.control-group
  label
    font-size: 14px
    display: inline-block
    margin: 0 10px
  .hint
    color: #aaa
    margin-left: 6px
  input[type="text"], & input[type="password"], & input[type="email"], & input[type="url"], & input[type="number"]
    box-sizing: border-box
    vertical-align: middle
    display: inline-block
    border: 1px solid #ddd
    padding: 6px
    outline: 0
    border-radius: 3px
    &:focus
      border-color: #51a7e8
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5)

#login_form
  max-width:360px
  margin:40px auto
  & input:focus + .login-field-icon
    color:$seaGreen
  .control-group
    position:relative
  input[type="text"], & input[type="password"]
    font-size: 17px
    padding-bottom: 11px
    padding-top: 11px
    text-indent: 6px
    width:100%
  .login-field-icon
    color: $silver
    position: absolute
    right: 13px
    top: 14px
    transition: 0.25s
    backface-visibility: hidden
  .btn
    width:100%

#form
  border-radius: 6px
  padding: 24px 23px 20px
  position: relative
  background-color: $lightSilver

//editor
.editor-wrapper
  margin: 10px 0

#preview
  position: absolute
  background-color: #fff
  min-height: 450px
  z-index: 999
  display: none
  left: 0
  top: 0
  width: 100%
  .content
    box-shadow: 0 0 10px #ddd
    margin: 3px
    border: 1px solid #cacaca
    padding: 3px
    max-height: 450px
    overflow: auto
  .close
    position: absolute
    top: 15px
    right: 25px
    cursor: pointer
    transition: 0.25s
    &:hover
      transform: rotate(90deg)

.markdown
  line-height: 1.6

.markdown code
  white-space: nowrap
  margin: 0 2px
  padding: 0px 5px
  border: 1px solid #eaeaea
  background-color: #f8f8f8
  border-radius: 3px

.markdown blockquote
  border-left: 4px solid #DDD
  padding: 0 15px
  color: #777

//ui-toggle
div.dk_container
  display: inline-block
  zoom: 1
  position: relative
  cursor: pointer
  outline: none
  margin-right: 10px
  &.dk_open
    > a.dk_toggle
      background-color: $lightSeaGreen
      .select-icon
        background-color: $seaGreen
        border-left-color: transparent
    .dk_options
      opacity: 1
      margin-top: 11px
      z-index: 999
  > a.dk_toggle
    display: block
    position: relative
    background-color: $lightSeaGreen
    color: #fff
    border-radius: 6px
    overflow: hidden
    padding: 0 2em
    line-height: 2em
    text-decoration: none
    white-space: nowrap
    transition: 0.25s
    backface-visibility: hidden
    &:hover
      background-color: lighten($lightSeaGreen, 5)
      color: #fff
    .dk_label
      margin-right: 44px
    .select-icon
      background: $lightSeaGreen url("../images/toggle.png") no-repeat right center
      border-left: 2px solid rgba(52, 73, 94, 0.15)
      border-radius: 0 6px 6px 0
      height: 100%
      position: absolute
      right: 0
      top: 0
      width: 42px
      transition: 0.25s
      backface-visibility: hidden
  .dk_options
    margin-top: 0px
    top: 27px
    position: absolute
    left: 0
    opacity: 0
    width: 100%
    z-index: 0
    display: none	9
    transition: 0.3s ease-out
    backface-visibility: hidden
    &:before
      left:auto
      right:12px
      content: ""
      border-style: solid
      border-width: 0 9px 9px 9px
      border-color: transparent transparent #34495e transparent
      height: 0px
      position: absolute
      top: -9px
      width: 0px
      -webkit-transform: rotate(360deg)
    .dk_options_inner
      overflow: auto
      outline: none
      position: relative
      background-color: #34495e
      border-radius: 5px
      margin: 0
      padding: 3px 3px 0
      li
        margin-bottom: 3px
        line-height: 2em
        a
          padding:0 2em
          display: block
          border-radius: 3px
          text-indent: -4px
          color: white
          text-decoration: none
          &:hover
            background-color: $lightSeaGreen
        &.dk_option_current
          a
            background-color: $lightSeaGreen

.comment-container
  margin: 20px 0
  img.avatar
    position: relative
    float: left
    border-radius: 3px
  .content-bubble
    position: relative
    margin-left: 60px
    padding: 3px
    background-color: #eee
    border-radius: 3px
    &:before
      content: ""
      display: block
      height: 0
      width: 0
      border: 10px solid #EEE
      border-width: 10px 10px 10px 0
      border-color: rgba(238,238,238,0) #eee rgba(238,238,238,0) rgba(238,238,238,0)
      position: absolute
      left: -10px
      top: 15px
    .bubble-inner
      min-height: 32px
      border: 1px solid #CACACA
      background-color: #fff

#dropbox
  margin: 0 10px 10px
  border-radius: 3px
  position: relative
  border: 1px solid #ccc
  &.focus
    border-color: #51a7e8
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5)
    textarea
      border-bottom-color: #51a7e8
  &.dragover
    box-shadow: #c9ff00 0 0 3px
    textarea
      border-bottom-color: #c9ff00
  textarea
    min-height: 58px
    border-width: 0
    outline: none
    border-bottom: 1px dashed #ddd
    box-sizing: border-box
    padding: 7px 8px
    max-height: 500px
    width: 100%
    resize: vertical
  .drag-drop
    line-height: 1.6
    color: #aaa
    padding: 0 8px
.tabnav
  margin: 10px 0
  border-bottom: 1px solid #ddd
  height: 35px
  span.right
    display: inline-block
    margin-top: 12px
    margin-right: 14px
    font-size: 12px
    color: #666
  ul
    margin: 0
    padding-left: 12px
    display: inline-block
    &>li
      display: inline-block
      line-height: 35px
      padding: 0 12px
      text-decoration: none
      border: 1px solid transparent
      cursor: pointer
      margin: 0
      &.active
        border-color: #ddd
        border-radius: 3px 3px 0 0
        background-color: #fff;
        border-bottom-color: #fff;

.social-login
  color: #333
  margin: 5px 8px
  a
    display: inline-block
    color: #777
    margin: 0 10px
    transition: color 0.15s linear
    vertical-align: middle
    padding-left: 20px
    background: url(../images/social/social-icons.png) no-repeat
    overflow: hidden
    &.weibo
      background-position: 0 0
    &.qq
      background-position: 0 -192px
    &:hover
      color: #333
      text-decoration: none

#messages
  &.error
    background-color: $red
    padding: 0 10px
    line-height: 1.6
    transition: 0.5s ease-in
    opacity: 1
  &.hide
    opacity: 0
    transform: translateY(-100%)

#progress p
  width: 240px
  padding: 2px 5px
  margin: 2px 0
  border-radius: 5px
  background: #eee url("../images/progress.png") 100% 0 repeat-y
  &.failed
    background: #c00 none 0 0 no-repeat



